export PLATFORM="development"
# use either 'development', 'testing', 'production'

export GOOSE_DRIVER="postgres"
export GOOSE_DBSTRING="template-url"
# use '?sslmode=disable' if there is no ssl mode on the psql server

export SUPER_ADMIN_TOKEN="admin-key-token"
# use 'openssl rand -base64 64' to generate a 64 bit key

export JWT_SECRET="jwt-secret-token"
# use 'openssl rand -base64 64' to generate a 64 bit key

export LOCAL_ADDRESS="localhost"
export PORT=8080
